[phases.setup]
nixPkgs = ["python310", "libreoffice", "fontconfig", "liberation_ttf"]

[phases.install]
cmds = ["pip install -r requirements.txt"]

[phases.build]
cmds = []

[start]
cmd = "gunicorn --bind 0.0.0.0:$PORT --workers 2 --threads 2 --timeout 120 --max-requests 100 --max-requests-jitter 10 app:app"
